* {
	--clip-path: initial;
	-webkit-clip-path: var(--clip-path);
	clip-path: var(--clip-path);
}

body {
	margin: 0;
	font: 100%/1.5 Helvetica Neue, sans-serif;
}

a {
	color: inherit;
}

	a:not(:hover):not(:focus) {
		text-decoration: none;
	}

header {
	padding: 1em;
	padding-bottom: 3em;
	background: linear-gradient(-60deg, hsl(160, 80%, 40%), hsl(217, 47%, 44%) calc(100% - 400px), transparent calc(100% - 150px)),
	            hsl(217, 47%, 44%) url(img/cat.jpg) left / auto 100% no-repeat;
	margin-bottom: 1em;
	text-align: center;
	font-size: 150%;
	color: white;
	--clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 2.5em), 0% 100%);
}

	header > h1 {
		margin: 0;
		font-size: 350%;
		line-height: 1.3;
	}

		header > h1 > span {
			color: hsl(160, 70%, 70%);
		}

	header > p {
		margin: 0;
		color: hsla(0,0%,100%,.5);
		font-weight: 200;
	}

body > section {
	max-width: 50em;
	padding: 0 1em;
	margin: auto;
}

	body > section > h1 {
		text-align: center;
		color: rgba(0,0,0,.5);
		margin-bottom: .5em;
	}

body > footer {
	background: hsl(217, 10%, 30%);
	padding: 2em calc(50% - 25em) 1em;
	margin-top: 2em;
	color: white;
	--clip-path: polygon(0% 1em, 100% 0, 100% 100%, 0% 100%);
}

#intro > p:first-of-type {
	font-weight: bold;
	font-size: 140%;
}

#libraries > a {
	text-decoration: none;
}

article {
	background: hsl(217, 47%, 90%);
	padding: 1em;
	margin-bottom: .5em;
	border-radius: .4em;
}

article:target {
	background: hsl(30, 100%, 85%);
}

	article:hover {
		background: hsl(335, 70%, 82%);
	}

	article img {
		width: 8.5em;
		height: 8.5em;
		object-fit: cover;
		float: right;
		margin-left: .5em;
		border-radius: .3em;
	}

	article img[src=""] {
		display: none;
	}

	article h1 {
		font-weight: 200;
		font-size: 200%;
		margin: 0;
	}

		article h1 .author {
			display: inline;
			font-size: 50%;
			font-style: italic;
		}

			article h1 .author::before {
				content: " by ";
			}

	.gitub-repo {
		display: inline-block;
		vertical-align: .5em;
		margin-right: .3em;
		background: url(https://github.com/favicon.ico) no-repeat left / contain;
		padding-left: 2em;
		font-weight: bold;
	}

		.gitub-repo:hover, .gitub-repo:focus {
			color: hsl(4, 81%, 56%);
			mix-blend-mode: multiply;
		}

#libraries footer {
	text-align: center;
}
