* {
	--clip-path: initial;
	-webkit-clip-path: var(--clip-path);
	clip-path: var(--clip-path);
}

body {
	margin: 0;
	font: 100%/1.5 Helvetica Neue, sans-serif;
}

a {
	color: inherit;
}

	a:not(:hover):not(:focus) {
		text-decoration: none;
	}

header {
	padding: 1em;
	padding-bottom: 3em;
	background: linear-gradient(-60deg, hsl(160, 80%, 40%), hsl(217, 47%, 44%) calc(100% - 400px), transparent calc(100% - 150px)),
	            hsl(217, 47%, 44%) url(img/cat.jpg) left / auto 100% no-repeat;
	margin-bottom: 1em;
	text-align: center;
	font-size: 150%;
	color: white;
	--clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 2.5em), 0% 100%);
}

	header > h1 {
		margin: 0;
		font-size: 350%;
		line-height: 1.3;
	}

		header > h1 > span {
			color: hsl(160, 60%, 65%);
		}

	header > p {
		margin: 0;
		color: hsla(0,0%,100%,.5);
		font-weight: 200;
	}

body > section {
	max-width: 50em;
	margin: 1em;
	margin: auto;
}

	body > section > h1 {
		text-align: center;
		color: rgba(0,0,0,.5)
	}

#intro > p:first-of-type {
	font-weight: bold;
	font-size: 150%;
}

article {
	background: hsl(200, 50%, 90%);
	padding: 1em;
	margin-bottom: .5em;
	border-radius: .4em;
}

	article h1 {
		font-weight: 200;
		font-size: 200%;
		margin: 0;
	}
